# Rename this file to .env and fill in your own secret values.

GOOGLE_API_KEY=your-google-api-key
DJANGO_SECRET_KEY=your-django-secret-key
DB_NAME=autoproeliteshop
DB_USER=your-db-user
DB_PASSWORD=your-
DB_HOST=your-db-host
DB_PORT=5432
DAMAGE_API_KEY=your-damage-api-key
GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-oauth-client-secret
PRICE_API_KEY=your-price-api-key
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
